<h2>Beginners guide to 66</h2>
<h3>The minimum essential knowledge to begin using 66</h3>
<h4>Contents</h4>
<ol>
	<li>Why this guide?</li>
	<li>What is S6?</li>
	<li>What is 66?</li>
	<li>Resources used by 66?</li>
    <li>What are trees?</li>
	<li>How does the system boot?</li>
	<li>How are services and daemons started and supervised?</li>
	<li>Which minimal services do I need and how do I set the system up?</li>
	<li>Quick Reference Guide</li>
</ol>

<body><ol>
<li style="text-indent: 40px"><b>Why this guide?</b><br><br>
As both s6 and 66 documentation may be overwhelming at first and users may think they should consume the entirety of the documentation before they begin using the software, or the system incorporating it and in this case Obarun, this guide is an introduction to how simple and easy it is to use these tools right away.
<br><br>
When comparing s6/66 to runit for example, an exercise in minimalism and simplicity, the abilities of s6 and 66 appear enormous, but not everyone and right away needs all those abilities.  They are there for those who realize the need and understand the functionality of those abilities.  It is like obtaining a complete set of professional aircraft mechanic's tools, but for your use of servicing a washing machine only a few basic tools would suffice.  It is good to know and study what is available to you at your own time and pace, but you could get back to work (doing laundry, writing, browsing, playing games) after you install it in a very short time.  After all you would need a system to boot and be functional so you can go and study the documentation further.</li><br>

<li style="text-indent: 40px"><b>What is s6?</b><br><br>
 	s6 is a small suite of programs for UNIX, designed to allow process supervision
(a.k.a service supervision), in the line of <a href="http://cr.yp.to/daemontools.html">daemontools</a>
and <a href="http://smarden.org/runit/">runit</a>, as well as various operations on processes and daemons. It is meant to be a toolbox for low-level process and service administration, providing different sets of
independent tools that can be used within or without the framework, and that can be assembled together to achieve powerful functionality with a very small amount of code.</li><br><br>

<li style="text-indent: 40px"><b>What is 66?</b><br><br>
	<a href="https://wiki.obarun.org/doku.php?id=66.2.1">66</a> is a collection of system tools built around <a href="http://skarnet.org/software/s6">s6</a> and 
		<a href="http://skarnet.org/software/s6-rc">s6-rc</a> created to make the implementation and manipulation of service files on your machine easier. It is meant to be a toolbox for the declaration, implementation and administration of services where separate programs can be joined to achieve powerful functionality with small amounts of code.  This translates in fewer hardware resources utilized, thus more available to your work and other software, and improved speed and efficiency.</li><br><br>

<li style="text-indent: 40px"><b>Resources used by 66?</b>
<br><br><a href="https://wiki.obarun.org/doku.php?id=66.2.1">66</a> software consume very little resources while tools execute.  Once they set the s6 system up, make changes, enable and disable daemons/services, they stop.  If you are not making changes to your system 66 is as if it is not there.  66 configures s6 easily so you don't have to do it the hard way.</li><br><br>

<li style="text-indent: 40px"><b>What are trees?</b></li><br>
Trees are bundles of services, programs, daemons, that should run once, all the time, when you need them, depending on the type.  For example, if you choose dhcpcd daemon to configure and maintain a connection to your network and wpa_supplicant to configure your wifi connection, you can make a tree of those two services and call it "net".  You may want net to be up all the time, or only when you really need it.  A simple command turns the tree on or off.  It can be on everytime you boot, or it can be off when you boot and you may want to turn it on later.  You can have as many services as you want on a tree.  There are trees of services meant to be run as root, and some that are meant and needed as a user.
</li><br><br>


<li style="text-indent: 40px"><b>How does the system boot?</b></li>
<br>
A quick run down of what booting requires:  Set a hostname, mount different sub-filesystems such as /run, /tmp, /proc, /sys, /dev, reads the time from hw-clock, screens what kernel modules should be activated/deactivated, initiates the random number engine, kernel control, enables udev (hw device identification), raid systems, different file system types (encrypted, zfs, btrfs, etc.), mounts various partitions mentioned in /etc/fstab, runs file system checks, network settings and interface identification, enables dmesg kernel messaging/logging system, sets local time, configures an emergency tty (default tty12) and then passes s6 to optional trees and services created by 66 after the system has completely booted.
<br><br>
<li style="text-indent: 40px"><b>How are services and daemons started and supervised?</b></li>
<br>Services and daemons can be started within trees, not just independently as in other systems.  This allows you to group what you need for specific uses (networking, printing, servers, etc.) so you can activate and deactivate a whole tree of services quickly and efficiently.  This frees up resources at all times for your specific use.
</li><br><br>

<li style="text-indent: 40px"><b>Which minimal services do I need and how do I set the system up?</b></li>
<br>
On /etc/66 there is a configuration file called init.conf.  In this few lines of easily understandable set of variables the initial tree is named.  By default it is called boot and it is responsible for managing all essential processes needed to completely boot a system.  The boot configuration file is on the same directory and called boot.conf.  You can specify on init.conf foot instead of boot and create a foot.conf file and it doesn't change a thing.  The boot tree is the default name for the initial tree.  The boot tree among its file system mounting and checking, device configuration, etc, at the end specifies one console, <a href="https://wiki.obarun.org/doku.php?id=tty12">tty12</a>.  tty12 will always be available even if the rest of the booting procedure fails, so you can log in as user (only) and fix what is broken.
</li><br><br>

<li style="text-indent: 40px"><b>Quick Reference Guide</b></li>
</ol>
<p style="text-indent: 45px"><br>
Look at /etc/66 contents<br><br>
/etc/66/init.conf   Specify verbosity (0-3 less-more) name of boot tree (default:boot)<br><br>
/etc/66/boot.conf   Modify boot parameters beyond default - default will boot fine but best to edit hostname, Time-Zone, filesystem support, kernel control, swap, fstab use, etc.  Pretty explanatory when you see it.<br><br>
Create a (n)ew tree for booting (default boot) and enable the standard boot bundle of services (boot-66serv) as a single special service.<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-tree">66-tree</a> -n boot<br><br>
enable boot in tree boot  (again boot-66serv is a special bundle of services specifically for booting an arch system, such as obarun)<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-enable">66-enable</a> -t boot boot<br><br>
Now to see the overall status of trees and services<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-intree">66-intree</a><br><br>
Create a (n)ew tree to run after boot, default on Obarun is root (root-66tree) (E)nable it and make it (c)urrent<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-tree">66-tree</a> -ncE root<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-enable">66-enable</a> -t root tty@tty1 tty@tty2<br><br>
next time you boot after boot is finished the tree root will start all of its services<br><br>
To start the services of the newly created tree root on this session<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-all">66-all</a>66-all -t root up<br><br>
to see the status of services of only the tree root<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-intree">66-intree</a> root<br><br>
to see the status of tty1<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-inservice">66-inservice</a> tty@tty1<br><br>
Make a (n)ew network tree called net and Enable it<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-tree">66-tree</a> -nE net<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-enable">66-enable</a> -t net dhcpcd wpa_supplicant ntpd <br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-all">66-all</a> -t net up<br><br>
to see the status of dhcpcd and its last 12 lines of its log<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-inservice">66-inservice</a> -p 12 dhcpcd<br><br>
Now leave network up but stop wifi<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-stop">66-stop</a> -t net wpa_supplicant<br><br>
or disable wifi all together as you no longer going to need it and immidiately (S)top it<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-disable">66-disable</a> -t net -S wpa_supplicant<br><br>
Now, you want to be isolated again, and don't need any network<br><br>
#<a href="https://wiki.obarun.org/doku.php?id=66-all">66-all</a> -t net down<br><br>
<P>
<br><br>
All of the above are run on a root level, but you want to run services as a user specifically needed for your desktop.  The procedure is similar, but s6 must be notified to supervise such services in advance.  It is best to look at <a href="https://wiki.obarun.org/doku.php?id=dbus_and_dm"> the specific wiki page for doing this</a>. 
</P>
<br><br>
<br><br><br><br>

<br><br><br><br>
<br><br><br><br>

</body>


